Source: gpsdrive
Section: user/other
Priority: optional
Maintainer: Guenther Meyer <debian@opencarbox.org>, Joerg Ostertag <gpsdrive@ostertag.name>
Build-Depends: debhelper (>= 5),
	cmake,
	gettext,
	libdbus-glib-1-dev,
	libc6-dev,
	libcurl4-gnutls-dev | libcurl4-openssl-dev | libcurl3-openssl-dev,
	libgtk2.0-dev,
	libsqlite3-dev,
	pkg-config,
	po-debconf
Standards-Version: 3.6.1

Package: gpsdrive
Architecture: armel
Depends: ${misc:Depends},
	${shlibs:Depends},
	libc6,
	libsqlite3-0,
	openstreetmap-map-icons (>> 8310),
	sudo
Recommends: gpsd,
	espeak,
	gpsbabel,
	gpsdrive-data-maps
Conflicts: osm-data-mapnik,
	osm-data-map-icons,
	gpsdrive-scripts
Suggests: grass,
	openstreetmap-utils (>> 8290)|gpsdrive-utils(>>2299),
	${perl:Depends},
	libexpat1,
	libgtk2.0-0,
	festival
Description: Car navigation system
 GpsDrive is a car (bike, ship, plane) navigation system.
 GpsDrive displays your position provided from gpsd on a zoomable map, 
 the map file is autoselected depending of the position and preferred
 scale. Speech output is supported if the "espeak" software is 
 installed. All GPS receivers which supports NMEA protocol should
 be usable.
 For using Maps from OpenStreetMap you need to install the openstreetmap-* 
 packages.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAG7AAABuwBHnU4NQAAAAd0
 SU1FB9kDFQ85NP3uBAgAAAa2SURBVEjHvZZ5bBTnGcZ/M3vveu3ddb2GNbY5
 XLAdr90EWnPYDeUQZ9JURG2SlkSEqzQIpWmkgtRWRKCmSZtSEaqkVSkFNW1C
 OUolKG3B5SyII+EKNocv7Pj27tp7z/X1jwXbEPiz/aQZfRqN5qfnned730di
 eAn+N0saut2DCCGkkW9MW7ZL7jX1z3JLh15AxCp0oQcU3eHoS1dfMrScSybd
 fclttlxs2r3m+kMJkiSGtiOUSEIMiypd84Mnw6asXwT0f03x6xfRhJmQGIsh
 dGRiNMeeYiAxHlkzdBfy9ly7Y0Pz/rWhB0BDIqSMkGEllSt3Wfoc/ZsC4uBr
 Dr3TYjEGsRudpHDQLYLE9VyctCGLAW5ElqOnTQhFYBM0ZlusP+w5/Prehym7
 D/T4il221mzlyPTUT2pceica0GkOEsdLN0FkLU7AqKNJWUxaySKZzkVSVYy0
 DIqGpOqGx2bfFKpbv/FBkDzyQbdr4K0c0+Wa47719NjKAchTr1KonqDIqKPY
 OEoW7Yy37MFtbkVIZgysmbpIEgJkRbq2YdS89fMeVDUEKnrl3Tl99uzVLY4a
 YvYAYds4DDFc4OpAPW8sbcPvc5JVMJMpj7kpzI1glRUQxtAHE7FCa1XVR38Z
 t2BL9udAlct3OpOm6DZVMtsRAgxBUvJgAAYgy/DNeRDIA9k5EVQrkUGZMe4O
 XphxhmJf15CnctyN5Od0uAfSp3aMBJkBzKaDL6d4YhK6AXLGF12WKiZIu0Go
 qLrE6m1BZlVG2H9rEYrhBV0GVaehNZ855Vdp7coDoDbYR2uPE8l5e/60Zbvk
 MzteNIYUJbAFY8IPmgGqDqrOoBHgknMVKclNu6mGhuy1vHfrdWSrBWRLRoAQ
 hBNumrt8fHfhKQp9Xfh8N2iORjBltzk7+z6ecZ+ilOEoQbtbZyFANwCJTunL
 pC0OitSDPK5vpl5/mZTuxWIMIJJRtPYmbMlebjcrfPafNAmhcTSrAxxgsoeJ
 hesXAyeHQbpzgoVBVMMNJnFXZ+Ysh4xJhJhIlt7MeD7gurIad8NfWTZDZe3G
 cm42Ofn4SoKK0jzKJ3k4XFfD1j2XCZdE0TWt4j4zKLpbvlcyFA0UHbMSBUXP
 XKpGTCugPvId5kR/z6UdEwmFUkyeu483fn6R6zfC/OjN81TU7iGeUDmx8xmy
 zrvRYsIysuGJkhfnXgkbxZWD0gRUyQ2ShIyGIczccyG6xoLkLnb+LMjyV4+z
 YHYhxWPc1E4bhdtlIRxJ43JaeH/ndc5/0su6lRVMffpg2EgrfkA1A8TVSccU
 Q670W06RJd+hXZtPwgiA0DI/3RA428/y662lPLfqCL/aPJ1gmY8t719l+wcN
 7N0xlwOHW4nGFNatrOBaQ4i3373MxDFWb0OjUg1gAja6Spe+qRh9z7nMbYTS
 lSRVP7KhYmjmjDE0nZcKj1FS7EQY8MyCsVy43EuwzMff/nEHu91E7dTRjB+b
 TXdPkn/+ux2v14ZZStLZFStNpCiUATxm66lc64Vorv0ERa4/gaqjpW1IipLp
 YfEI1UE3p8918exT4zl5tosrn4Ywm2Xsdiub3rnCO79po6k1jm4YzHmygNk1
 Afz+HHzZBIfM0PDnVf3oBZvTuhOkJKOdByA9bAwRjVAw2sXNxgH+flxw9IyZ
 W3c8/PJ3g/QPuIkmLOQXzWMwqpOf56S0xEPlY7n09/ZhMWO5r9e1fLTn7c+6
 NvyhL/olZGkQFA27dCcDk5wcO91BrtfOq8s91ExOs26Zm28ttmA1J1m+Yg2R
 cB/xlJn+cIoP9zeSSumM/UKI5g7i94EA/E7fa+GeJZ92di5EUlOoyawMSNj4
 475mqp/I48DhVlraopw+10VVuZcV356AGq0D7Q5C6GiaoHbaKH7805N43YJE
 itOfA93c+73w6JycWXYxarukSLqWcNw9Rzod6XG0tMU4ebaT6sl+liwexydX
 +6j5ioelS/zkeXqYP9NHRamXA4duU1XQyLbdKMD3Hzph76382W89PTAYeyud
 VkszbSlFWXobzz9bzqh8H19fUEx7R5yG2xGe/0YJ1xpCnLnQjZK209rYwvWG
 W+LQaTYBmwD1kSCALy7e6okMRBcpSrwKV/1XtVBTedHgNfeimdlk5xZQXhbA
 67HS2Z2gtc1g4demk+VysuW3R3hv5/HzQK0QIj00yh8WTh6RaqTs/LLSdLj+
 w7KxBKcGkUwmsFngZtckAqP93G7pFXWnGm4ALwHnRoaTR8atR8HuNuMpwCtA
 OWC22y1yKqUOANuAfYByd24Oxa3/R4CU/wtUGCkYXvdwbQAAAABJRU5ErkJg
 gg==

Package: gpsdrive-utils
Architecture: any
Depends: ${misc:Depends},
	${shlibs:Depends},
	${perl:Depends},
Description: Car navigation system
 GpsDrive is a car (bike, ship, plane) navigation system.
 GpsDrive displays your position provided from gpsd on a zoomable map, 
 the map file is autoselected depending of the position and preferred
 scale. Speech output is supported if the "espeak" software is 
 installed. All GPS receivers which supports NMEA protocol should
 be usable.
 This Package is a small set of utils used to setup and operate GpsDrive.
 The Large Set for it would be openstreetmap-utils.
