Source: gpsdrive
Section: utils
Priority: optional
Maintainer: Frank Kirschner <kirfrank@debian.org>, Joerg Ostertag <gpsdrive@ostertag.name>
Build-Depends: debhelper (>> 3.7.2), pkg-config, libpcre3-dev, libgtk2.0-dev, libmysqlclient-dev, xutils, po-debconf, python-dev
Standards-Version: 3.6.1

Package: gpsdrive
Architecture: any
Depends: ${misc:Depends}, libwww-perl, libxml-simple-perl, libxml-parser-perl, libfile-slurp-perl, libtimedate-perl, libdate-manip-perl, libxml-twig-perl, libwww-mechanize-perl, libtext-query-perl, perlmagick, python, libdbi-perl, mysql-server, mapnik-plugins, mapnik-utils, python-mapnik, python-support
Recommends: gpsd, perl, libmysqlclient15off, imagemagick, gpsbabel, perl-base(>>5.6), festival, libgeos, libgdal, libdbd-mysql-perl, gdal-bin
Suggests: grass, libarchive-zip-perl, libexpat1, libfile-find-rule-perl, libgtk2.0-0, libgdal1-1.3.2-dev, libgdal1-1.3.2-grass, 
Description: Car navigation system
 GpsDrive is a car (bike, ship, plane) navigation system.
 GpsDrive displays your position provided from gpsd which gets it
 from your NMEA or Garmin capable GPS receivers on a zoomable map, 
 the map file is autoselected depending of the position and preferred
 scale. Speech output is supported if the "festival" software is 
 running. The maps are autoselected for best resolution depending of
 your position. All Garmin GPS reveiver with a serial output should 
 be usable, also other GPS receiver which supports NMEA protocol.
