Source: gpsdrive
Section: utils
Priority: optional
Maintainer: Debian GIS Project <debian-gis@lists.debian.org>
Uploaders: Joerg Ostertag <gpsdrive@ostertag.name>, M. Hamish Bowman <hamish_b@yahoo.com>
Build-Depends: debhelper (>= 5),
	cmake,
	gettext,
	libart-2.0-dev,
	libboost-dev,
	libboost-filesystem-dev,
	libboost-serialization-dev,
	libcurl4-gnutls-dev | libcurl4-openssl-dev,
	libgps-dev (>= 2.90),
	libgtk2.0-dev,
	libltdl-dev | libltdl7-dev | libltdl3-dev,
	libmapnik-dev (>> 0.5.0-1),
	libpcre3-dev,
	libpq-dev,
	libspeechd-dev (>> 0.6.6),
	libsqlite3-dev,
	libxml-twig-perl,
	libxml2-dev,
	pkg-config,
	po-debconf,
	python-dev (>= 2.6.6-3~),
	speech-dispatcher (>= 0.6.6)
Standards-Version: 3.8.1

# ------------------------------------------------------------------
Package: gpsdrive
Architecture: any
Depends: ${misc:Depends},
	${shlibs:Depends},
	libart-2.0-2,
	libltdl7 | libltdl3,
	openstreetmap-map-icons (>> 8310)
Recommends: gpsd,
	espeak,
	gpsdrive-data-maps (>> 2322),
	openstreetmap-utils (>> 8290) | gpsdrive-utils (>> 2.10svn2299),
	openstreetmap-mapnik-world-boundaries (>> 7749),
	mapnik-plugins,
	mapnik-utils,
	postgresql-8.4-postgis | postgresql-8.3-postgis,
	osm2pgsql,
	openstreetmap-mapnik-data,
	ttf-dejavu,
	python-mapnik
Conflicts: osm-data-mapnik,
	osm-data-map-icons,
	gpsdrive-scripts
Suggests: grass,
	libarchive-zip-perl,
	libexpat1,
	libfile-find-rule-perl,
	libgtk2.0-0,
	libdbd-sqlite3-perl,
	libgeos-c1,
	gdal-bin,
	gpsbabel,
	festival
Description: GPS navigation system
 GpsDrive is a car (bike, ship, plane, foot) navigation system.
 GpsDrive displays your position provided from a GPS on a zoomable map,
 the map file is autoselected depending on your position and preferred
 map scale.  All GPS receivers which support the NMEA protocol should
 be usable, as well as many USB GPSs using a binary protocol.
 .
 You will most likely want to install the gpsd package so that you
 can talk to your GPS; without that GpsDrive is just a map viewer.
 Speech output is supported if the "espeak" software is installed.
 To use maps from the OpenStreetMap project you need to install the
 openstreetmap-* packages as well.

# ------------------------------------------------------------------
Package: gpsdrive-utils
Architecture: any
Depends: ${misc:Depends},
	 ${shlibs:Depends},
	 ${perl:Depends},
	 graphicsmagick-imagemagick-compat | imagemagick,
	 perlmagick,
	 python,
	 python-support,
	 python-central,
	 python-dev,
	 perl-base (>> 5.6),
	 libtext-query-perl,
	 libtimedate-perl,
	 libwww-mechanize-perl,
	 libwww-perl,
	 libxml-parser-perl,
	 libxml-simple-perl,
	 libdate-manip-perl,
	 libdbi-perl,
	 libfile-slurp-perl | libperl6-slurp-perl,
	 libxml-twig-perl
Recommends: libdbd-sqlite3-perl
Conflicts: openstreetmap-utils
Description: GPS navigation system
 GpsDrive is a car (bike, ship, plane, foot) navigation system.
 GpsDrive displays your position provided from a GPS on a zoomable map,
 the map file is autoselected depending on your position and preferred
 map scale.  All GPS receivers which support the NMEA protocol should
 be usable, as well as many USB GPSs using a binary protocol.
 .
 This package contains a small set of helper scripts used to setup and
 enhance GpsDrive.
 The Large Set for it would be openstreetmap-utils.

# ------------------------------------------------------------------
Package: gpsdrive-friendsd
Architecture: any
Depends: ${misc:Depends},
	 ${shlibs:Depends}
Description: Friendsd for GPS navigation system
 GpsDrive is a car (bike, ship, plane, foot) navigation system.
 GpsDrive displays your position provided from a GPS on a zoomable map,
 the map file is autoselected depending on your position and preferred
 map scale.  All GPS receivers which support the NMEA protocol should
 be usable, as well as many USB GPSs using a binary protocol.
 .
 This package only contains the FriendsDaemon. It is used to 
 communicate the Position between different GpsDrive Clients via UDP.
 This program is only needed once on a central server.
