#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -s /etc/default/gpsdrive ] ; then
        . /etc/default/gpsdrive
        if [ -n "$INIT_DB" ] ; then
            db_set gpsdrive/initdb "$INIT_DB"
        fi
        if [ -n "$IMPORT_OSM" ] ; then
            db_set gpsdrive/import_osm "$IMPORT_OSM"
        fi
        if [ -n "$IMPORT_OSM_AREA" ] ; then
            db_set gpsdrive/import_osm "$IMPORT_OSM_AREA"
        fi
fi

db_input medium gpsdrive/initdb || true
db_go

db_get gpsdrive/initdb
INIT_DB=$RET

if [ "x$INIT_DB" = "xtrue" ] ; then
        db_input medium gpsdrive/import_osm || false
	db_go

	db_get gpsdrive/import_osm
	IMPORT_OSM=$RET
	if [ "x$IMPORT_OSM" = "xtrue" ] ; then
	    db_input medium gpsdrive/import_osm_area
	    db_go
	fi
fi
