[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=GpsDrive
Comment=GpsDrive
Exec=/usr/bin/gpsdrive
Terminal=false
Icon=gpsdrive
X-Osso-Type=application/x-executable
X-Osso-Service=org.maemo.gpsdrive
